@{
    ViewData["Title"] = "My Work";
}

<div class="text-center">
    <h1 class="display-4"><strong>Browse our Beautiful pieces:</strong></h1>
    <p></a>.</p>
</div>

<style>
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        text-align: center;
        position: relative;
    }

        .center .description {
            position: absolute; /* Position the description absolutely */
            top: 0; /* Position it at the top */
            left: 0; /* Center it horizontally */
            width: 100%; /* Make it take the full width of the container */
            background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent background to make the text more readable */
            padding: 5px; /* Add some padding for better appearance */
            box-sizing: border-box; /* Include padding and border in the width */
        }

        .center img {
            max-width: 80;
            max-height: 80%;
            margin-bottom: 10px;
        }
</style>

<div class="center">
    <div class="description">
        <strong>Unique and handmade kikoi throw</strong>
        R120
    </div>
    <img src="~/kikoi.jpg" alt="Kikoi Image">
</div>

<div class="center">
    <div class="description">
        <strong>Bright silky handmade bead jewellery</strong>
        R65
    </div>
    <img src="~/beads.jpg" alt="Beads Image">
</div>

<div class="center">
    <div class="description">
        <strong>Indignous Painting, painted with natural paints on cow skin.</strong>
        R250
    </div>
    <img src="~/painting.jpg" alt="Painting Image">
</div>

<div class="center">
    <div class="description">
        <strong>Hand thrown ceramic pottery, with touches of indignous patterns.</strong>
        R100
    </div>
    <img src="~/pottery.jpg" alt="Pottery Image">
</div>


<div class="center">
    <div class="description">
        <strong>Hand carved wooden scultpure</strong>
        R55
    </div>
    <img src="~/wooden sculpture.jpg" alt="Wooden Sculpture Image">
</div>