@{
    ViewData["Title"] = "Contact Us";
}

<div class="text-center">
    <h1 class="display-4">Want to place an order or have any questions?</h1>
    <p>Heres how to contact KhumaloCraft: </a>.</p>
    <p>Email Address: <strong>KhumaloCraft@gmail.com</strong>.</p>
    <p>WhatsApp Number: <strong>073 874 2832</strong>.</p>
    <p>Telephone number: <strong>071 341 8381</strong>.</p>
    <p>Address: <strong>87 Impala Drive</strong>.</p>
</div>
