@{
    ViewData["Title"] = "KhumaloCraft";
}

<div class="text-center">
    <h1 class="display-4">Welcome to KhumaloCraft</h1>

    <style>
        p {
            font-size: 24px; /* Adjust the value to make the text bigger */
        }
    </style>
    <p>Welcome to our small business, KhumaloCraft!
        We are happy to have you! 
    </a>.</p>
    <p>
        <strong>
            Please feel free to browse our local, unique artworks  </>
        </a>.
    </p>
</div>
